@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.daos._
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None)

@main(title) {
    @mnavbar(user)
    <div class="container">
        <div class="row">
            <div class="col-md-12 height-500-pixel">
                <div class="spacer-30-percent"></div>
                <h1 class="text-center landing-page-header">
                    Help us make sidewalks more accessible for everyone
                </h1>
                <img src='@routes.Assets.at("javascripts/SVLabel/img/misc/people.svg")' alt="Icons of wheelchair user, cane user, scooter user, and a person with a stroller" class="header-icon img-responsive center-block" align="">
                <div class="spacer-20-pixel"></div>
                <p class="text-center">
                    <a href='@routes.AuditController.audit' class="btn" id="participate-button">Participate</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/smooth-scroll.js")'></script>
    <script type="text/javascript">smoothScroll.init();</script>
    @*<script type="text/javascript" src='@routes.Assets.at("javascripts/index.js")'></script>*@
    @*<script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesSidewalk.js")'></script>*@
    @*<script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/Util/UtilitiesColor.js")'></script>*@
    <link href='@routes.Assets.at("stylesheets/index.css")' rel="stylesheet"/>
    <script>
            $("video").hover(function() {
                $(this).prop("controls", true);
            }, function() {
                $(this).prop("controls", false);

            });
    </script>
}
